PORT=9080
MONGO_URI=mongodb+srv://USER:PASSWORD@cluster.example.mongodb.net/marriage-bureau?appName=Cluster0
JWT_SECRET=your_long_random_secret_string
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
